extends ./layouts/main.pug
include ./mixins/mainPageContent.pug
include ./mixins/detailPageContent.pug

block title
    +detailPageTitle(siteData, pieceName)

block content
    +detailPageContent(siteData, pieceName)
    +mainPageContent(siteData, { detailVisible: true })

block detailTemplates
    +detailTemplates(siteData)
