extends ./layouts/main.pug

block content
    .main-container
        h1= siteData.main.title
        each seriesName in siteData.main.seriesOrder
            +seriesRow(siteData.series[seriesName], siteData)
    #indicator.
        indicator

mixin seriesRow(series, siteData)
    .series-row
        each pieceName in series.pieces
            +seriesItem(siteData.pieces[pieceName], siteData)

mixin seriesItem(piece, siteData)
    .series-item
        +thumbNail(siteData.images[piece.main])

mixin thumbNail(image)
    img.thumbnail(src=image.imageMetadata.webp[0].url)

mixin debug(o)
    pre= JSON.stringify(o, null, "  ")

