doctype html
html(lang="en")
  head
    title
      block title
    meta(content="width=device-width, initial-scale=1",name="viewport")
    - var ts = Date.now();
    style
      include ./styles.css
    link(
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text class='favicon' y=%22.9em%22 font-size=%2290%22>🍈</text></svg>"
    )
    - var ts = Date.now();
    script(src='index.js?ts=' + ts defer)
  body
    .main-container#main-container
      block content
    block detailTemplates

