doctype html
html(lang="en")
  head
    title
      block title
    meta(content="width=device-width, initial-scale=1",name="viewport")
    - var ts = Date.now();
    style
      include ./styles.css
    script(defer)
      include ./index.js
  body
    .main-container#main-container
      block content
    block detailTemplates

