doctype html
html(lang="en")
  head
    title= siteData.general.title
    meta(content="width=device-width, initial-scale=1",name="viewport")
    - var ts = Date.now();
    link(rel="stylesheet" href='styles.css?ts=' + ts)
    script(src='index.js?ts=' + ts).
  body
    block content

