
* {
    margin: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: auto;
}


h1 {
    font-size: 1.3em;
    font-weight: 100;
    text-transform: uppercase;
}

.detail-mode.main-content {
    visibility: hidden;
}

#indicator {
    position: absolute;
    top: 0;
    right: 0;
    color: pink;
}

.main-container {
    margin: 1rem;
    background: white;
}

.series-row {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.series-item {
    margin: 0.2rem;
    height: auto;
}

.series-item:first-child {
    margin-left: 0;
}

.thumbnail {
    /* height must match displayHeightRem in images.pug */
    height: 4.5rem;
}

.overlay {
    z-index: 1;
    position: absolute;
    right: 0;
    left: 0;
    top: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background: inherit;
    align-items: stretch;
}

.overlay-content {
    margin: 1.5rem;
    margin-top: 0;
}

.close-button-wrapper {
    text-align: right;
}

.close-button {
    color: inherit;
    text-decoration: auto;
}

.detail-image {
    width: 100%;
    margin: 1rem 0;
}

.detail-image:first-child {
    width: 100%;
    margin: 1rem 0;
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    #indicator {
        position: absolute;
        top: 0;
        right: 0;
        color: lightblue;
    }

    .main-content {
        width: 50vw;
    }

    .detail-mode.main-content {
        visibility: unset;
        opacity: 0.5;
    }

    h1 {
        font-size: 2.5em;
        font-weight: 100;
        text-transform: uppercase;
    }

    .series-row {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;
    }

    .series-item {
        margin: 0.3rem;
        height: auto;
    }

    .series-item:first-child {
        margin-left: 0;
    }

    .thumbnail {
        /* height must match displayHeightRem in images.pug */
        height: 7rem;
    }

    .overlay {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        margin:auto;
        padding: 1rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: column;
        background: inherit;
        align-items: flex-end;
        width: 40vw;
    }

    .overlay-content {
        margin: 1.5rem;
    }
}